body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.header{
  display: flex;
  padding: 24px 17px 0 0;
  width: 93%;
  margin: auto;
}
.logo{
  width: 166px;
  height: 51px;
  margin-right: 17.8%;
  background: url('img/teslalogo.svg');
}
.menu{
  display: flex;
  padding-top: 4px;
  align-items: center;
}
.menu__item{
 font: 600 15px/18px 'Montserrat', arial, helvetica, sans-serif;
 color: #000;
 padding: 0 18.5px;
 text-decoration: none;
}
.menu__item_active{
  color: #E51937;
  margin-right: 26px;
}
.menu__item_active::after{
  position: absolute;
  display: block;
  content: '';
  margin-left: 5px;
  width: 4%;
  height: 2px;
  background: #E51937;
  margin-top: 5px;
}
.menu__item:last-child{
  margin-left: 7px;
}
.menu1{
  display: flex;
  padding-top: 4px;
  align-items: center;
  margin-left: 15.2%;
}
.menu1__item{
  font: 600 15px/18px 'Montserrat', arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  padding-right: 25%;
}
.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 42px;
  right: 60px;
  width: 24px;
  height: 15px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #E51937;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
.main{
height: 765px;
}
.page1{
height: 900px;
}
.page2{
height: 900px;
}
.main__title{
  font: 600 90px/110px 'Montserrat', arial, helvetica, sans-serif;
  margin-top: 4%;
  margin-left: 37.1%;
  margin-bottom: 0;
}
.main__subtitle{
  font: 500 15px/18.29px 'Montserrat', arial, helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 41.7%;
  line-height: 0px;
}
.main__img{
  background: url('img/logocar.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  position: relative;
  bottom: 109px;
}
.container, .redcontent, .content, .raiting__box, .main__items, .main__item, .redcontent__items, .redcontent__item{
  border: dashed 1px red;
}

.main__items{
display: inline-flex;
justify-content: space-between;
position: relative;
bottom: 80px;
margin-left: 21.9%;
width: 27%;
height: 60px;
}
.main__item{
width: 40%;
}
.main__item-box{
margin-left: 30%;
position: relative;
bottom: 155%;
width: 64%;
}
.box-2{
bottom: 184%;
}
.main__item-title{
font: 600 35px/43px 'Montserrat', arial, helvetica, sans-serif;
}
.title-1{
margin-left: 16%;
}
.title-2{
margin-left: 2%;
}
.main__item-span{
font: 600 20px/24px 'Montserrat', arial, helvetica, sans-serif;
position: relative;
bottom: 43px;
margin-left: 71%;
}
.main__item-text{
font: 400 12px/15px 'Montserrat', arial, helvetica, sans-serif;
position: relative;
bottom: 79px;
}
.text-1{
margin-left: 16%;
}
.text-2{
margin-left: 3%;
}
.content{
position: relative;
width: 25%;
display: inline-flex;
align-items: center;
}
.content-1{
margin-left: 55.5%;
bottom: 141px;
}
.more-1{

}
.button-1{
margin-left: 11.5%;
padding: 10px 40px;
}
.main__img1{
  position: relative;
  margin-left: 48.8%;
  bottom: 102px;
}
.page1__title{
font: 600 70px/85px 'Montserrat', arial, helvetica, sans-serif;
}
.redcontent__title{
font: 600 30px/36px 'Montserrat', arial, helvetica, sans-serif;
}
.redcontent__subtitle{
font: 500 15px/18px 'Montserrat', arial, helvetica, sans-serif;
}
.redcontent__item-title{
font: 600 35px/43px 'Montserrat', arial, helvetica, sans-serif;
}
.redcontent__item-span{
font: 600 20px/24px 'Montserrat', arial, helvetica, sans-serif;
}
.redcontent__item-text{
font: 400 12px/15px'Montserrat', arial, helvetica, sans-serif;
}
.raiting__title{
font: 600 30px/37px 'Montserrat', arial, helvetica, sans-serif;
}
.raiting__text{
font: 700 17px/21px 'Montserrat', arial, helvetica, sans-serif;
}
.raiting__text-span{
font: 700 10px/12px 'Montserrat', arial, helvetica, sans-serif;
}
.content__more{
font: 700 13px/16px 'Montserrat', arial, helvetica, sans-serif;
margin-left: 2%;
}
.content__button{
font: 700 13px/16px 'Montserrat', arial, helvetica, sans-serif;
text-decoration: none;
color: #E51937;
border-style: solid;
}
.reditem-title-4{
font: 600 50px/61px 'Montserrat', arial, helvetica, sans-serif;
}
.reditem-title-2{
font: 600 20px/18px 'Montserrat', arial, helvetica, sans-serif;
}
.reditem-span-4{
font: 600 30px/37px 'Montserrat', arial, helvetica, sans-serif;
}
.reditem-text-4{
font: 600 25px/30px 'Montserrat', arial, helvetica, sans-serif;
}
