body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.header{
  display: flex;
  padding: 24px 17px 0 0;
  width: 93%;
  margin: auto;
}
.logo{
  width: 166px;
  height: 51px;
  margin-right: 17.8%;
  background: url('img/teslalogo.svg');
  background-repeat: no-repeat;
}
.menu{
  display: flex;
  padding-top: 4px;
  align-items: center;
}
.menu__item{
 font: 600 15px/18px 'Montserrat', arial, helvetica, sans-serif;
 color: #000;
 padding: 0 19.5px;
 text-decoration: none;
}
.menu__item_active{
  color: #E51937;
  margin-right: 26px;
}
.menu__item_active::after{
  position: absolute;
  display: block;
  content: '';
  margin-left: 5px;
  width: 4%;
  height: 2px;
  background: #E51937;
  margin-top: 5px;
}
.menu__item:last-child{
  margin-left: 7px;
}
.menu1{
  display: flex;
  padding-top: 4px;
  align-items: center;
  margin-left: 15.2%;
}
.menu1__item{
  font: 600 15px/18px 'Montserrat', arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  padding-right: 25%;
}
.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 42px;
  right: 60px;
  width: 24px;
  height: 15px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #E51937;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
.main{
height: 767px;
}
.main__title{
  font: 600 90px/110px 'Montserrat', arial, helvetica, sans-serif;
  margin-top: 4%;
  margin-left: 37.1%;
  margin-bottom: 0;
}
.main__subtitle{
  font: 500 15px/18.29px 'Montserrat', arial, helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 41.7%;
  line-height: 0px;
}
.main__img{
  background: url('img/logocar.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  position: relative;
  bottom: 109px;
}

.main__items{
display: inline-flex;
justify-content: space-between;
position: relative;
bottom: 75px;
margin-left: 21.9%;
width: 27%;
height: 60px;
}
.main__item{
width: 40%;
}
.menu__itemx{
  padding-right: 8px;
}
.main__item-box{
margin-left: 30%;
position: relative;
bottom: 155%;
width: 64%;
}
.box-2{
bottom: 184%;
}
.main__item-title{
font: 600 35px/43px 'Montserrat', arial, helvetica, sans-serif;
}
.img-2{
  position: relative;
  bottom: 5px;
}
.title-1{
margin-left: 17%;
}
.title-2{
margin-left: 2%;
}
.main__item-span{
font: 600 20px/24px 'Montserrat', arial, helvetica, sans-serif;
position: relative;
bottom: 43px;
margin-left: 71%;
}
.main__item-text{
font: 400 12px/15px 'Montserrat', arial, helvetica, sans-serif;
position: relative;
bottom: 79px;
}
.text-1{
margin-left: 17%;
}
.text-2{
margin-left: 3%;
}
.content{
position: relative;
display: inline-flex;
align-items: center;
}
.content__background{
  background: url('img/wheel.svg');
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}
.content-1{
margin-left: 55.5%;
width: 25%;
bottom: 138px;
}
.content__more{
font: 700 13px/16px 'Montserrat', arial, helvetica, sans-serif;
margin-left: 2%;
}
.content__button{
font: 700 13px/16px 'Montserrat', arial, helvetica, sans-serif;
text-decoration: none;
border-style: solid;
}
.button-1{
margin-left: 11.5%;
padding: 10px 40px;
color: #E51937;
}
.main__img1{
  position: relative;
  margin-left: 48.8%;
  bottom: 99px;
}
.page__row{
  height: 900px;
display: flex;
flex-direction: row;
}
.group1{
  background: url('img/models.svg');
  background-repeat: no-repeat;
  margin-top: 3.9%;
  height: 844px;
  width: 574%;
}
.page1__h1{
  font: 600 70px/85px 'Montserrat', arial, helvetica, sans-serif;
  color: #E51937;
  padding-top: 0.9%;
  margin-left: 8%;
}
.page__redbg{
  background: url('img/red.svg');
  background-repeat: no-repeat;
  position: relative;
  width: 440px;
  height: 900px;
}
.box1{
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 95.6%;
  width: 77%;
  height: 59%;
  margin-left: 11%;
}
.page__title{
  font: 600 30px/37px 'Montserrat', arial, helvetica, sans-serif;
  color: #fff;
}
.page1__title{
  padding-left: 4px;
  line-height: 61px;
}
.page__subtitle{
  font: 500 15px/18px 'Montserrat', arial, helvetica, sans-serif;
  color: #fff;
}
.page1__subtitle{
  line-height: 19px;
  padding-left: 3px;
}
.columns{
width: 90%;
position: relative;
top: 41px;
height: 40px;
}
.colums__row{
display: inline-block;
}
.column-2{
position: relative;
bottom: -33px;
}
.items__row{
  display: flex;
}
.item__img{
position: relative;
}
.img1-1{
  margin-top: 9%;
  margin-left: 1%;
}
.img1-2{
margin-top: 3%;
}
.img1-3{
  margin-top: 16%;
  margin-left: 3px;
}
.item__title{
font: 600 35px/43px 'Montserrat', arial, helvetica, sans-serif;
color: #fff;
position: relative;
}
.title1-1{
top: 19%;
margin-left: 17%;
}
.title1-2{
font: 600 20px/18px 'Montserrat', arial, helvetica, sans-serif;
margin-left: 20px;
bottom: -6px;
}
.title1-3{
  margin-top: 34%;
  margin-left: 13%;
}
.item__span{
font: 600 20px/24px 'Montserrat', arial, helvetica, sans-serif;
color: #fff;
position: relative;
}
.span1-1{
  bottom: 28px;
  margin-left: 47%;
}
.span1-3{
  margin-left: 45%;
  bottom: 27px;
}
.item__text{
  font: 400 12px/15px 'Montserrat', arial, helvetica, sans-serif;
  color: #fff;
  width: 100%;
  position: relative;
}
.text1-1{
bottom: 8px;
margin-left: 17%;
}
.text1-2{
width: 50%;
bottom: -9px;
margin-left: 20px;

}
.text1-3{
width: 63%;
margin-left: 12%;
bottom: 25px;
}
.content-2{
  top: 85.4%;
  width: 104%
}
.more-2{
color: #fff;
}
.button-2{
  margin-left: 10%;
  padding: 10px 40px;
  color: #fff;
}
.group2{
  width: 68%;
}
.page2__img1{
margin-left: 19%;
position: relative;
top: 16%;
}
.page2__img2{
position: relative;
margin-left: -11.8%;
bottom: -2%;
z-index: 1;
}
.page2__img4{
  display: none;
}
.ride2{
margin-left: 12%;
width: 71%;
}
.box2{
position: relative;
height: 800px;
bottom: 94.4%;
display: flex;
flex-direction: column;
}
.page2__title{
    margin-bottom: 5%;
}
.page2__subtitle{
    margin-bottom: 18%;
}
.raiting{
margin-bottom: 17.6%;
}
.raiting__title{
font: 600 30px/37px 'Montserrat', arial, helvetica, sans-serif;
color: #fff;
margin-bottom: 8%;
}
.raiting__box{
height: 172px;
}
.raiting__text{
font: 700 17px/21px 'Montserrat', arial, helvetica, sans-serif;
position: relative;
color: #fff;
}
.rt2{
bottom: 13px;
}
.rt3{
bottom: 26px;
}
.raiting__span{
font: 700 12px/12px 'Montserrat', arial, helvetica, sans-serif;
margin-left: 20%;
position: relative;
bottom: 14px;
color: #fff;
}
.rt4{
    bottom: 50px;
}
.rt5{
    bottom: 63px;
}
.raiting__star{
margin: 0;
bottom: 24px;
position: relative;
margin-left: 46%;
width: 44%;
}
.img__star{
width: 25px;
height: 25px;
}
.rtstar2{
bottom: 37px;
}
.rtstar3{
bottom: 62px;
}
.rtstar4{
bottom: 75px;
}
.rtstar5{
bottom: 87px;
}
.img2-1{
  background: url('img/group.svg');
  background-repeat: no-repeat;
  width: 62px;
  height: 74px;
  position: relative;
  margin-left: 4%;
  margin-top: 4%;
  margin-right: 10%;
}
.title2-1{
font: 600 50px/61px 'Montserrat', arial, helvetica, sans-serif;
position: relative;
}
.span2-1{
font: 600 50px/45px 'Montserrat', arial, helvetica, sans-serif;
position: relative;
margin-left: 22%;
bottom: 52px;
}
.text2-1{
font: 600 25px/30px 'Montserrat', arial, helvetica, sans-serif;
position: relative;
bottom: 52px;
}
.content-3{
position: relative;
top: 18%;
margin-left: 8%;
}
.more-3{
color: #fff;
}
.button-3{
margin-left: 8%;
padding: 10px 40px;
color: #fff;
}
@media (max-width: 1439px){
.header{
width: 94%;
margin-bottom: 10.5%;
}
.menu__item{
display: none;
}
.menu__btn{
  right: 33px;
  width: 35px;
  height: 22px;
  top: 38px;
}
.menu1{
  display: none;
}
.main{
height: 900px;
}
.main__title{
margin-left: 26%;
}
.main__subtitle{
margin-left: 34.2%;
margin-bottom: 12.4%;
}
.main__img{
  background: url('img/wordmark.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.main__img-2{
  background: url('img/maincar.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 88%;
  position: relative;
  bottom: 67%;
  margin-left: 6%;
  height: 350px;
  z-index: 1;
}
.main__items{
margin-left: 16%;
width: 65%;
bottom: 63.7%;
}
.main__item{
margin-left: 1.7%;
}
.img-1{
width: 78px;
margin-top: 2.5%;
margin-left: 1%;
}
.main__item-box{
bottom: 220%;
}
.box-1{
margin-left: 37%;
}
.main__item-background{
  background: url('img/roadsmall.svg');
  background-repeat: no-repeat;
  width: 46px;
  height: 73px;
  margin-left: 2.5%;
}
.main__item-title{
  font: 600 50px/61px 'Montserrat', arial, helvetica, sans-serif;
}
.main__item-span{
margin-left: 76%;
}
.span-1{
bottom: 68px;
}
.text-1{
bottom: 113px;
}
.img-2{
display: none;
}
.box-2{
width: 68%;
}
.title-2{
margin-left: 4px;
}
.span-2{
bottom: 69px;
}
.text-2{
bottom: 113px;
}
.content{
width: 60%;
margin-left: 20%;
align-items: center;
}
.content-1{
bottom: 58%;
padding-top: 4px;
}
.content__background{
  background: url('img/wheelred.svg');
  background-repeat: no-repeat;
  width: 31px;
  height: 31px;
  margin-left: 4%;
  background-size: contain;
  margin-right: 1.8%;
}
.content__more{
  font: 700 16px/20px 'Montserrat', arial, helvetica, sans-serif;
  color: #fff;
}
.more-1{
  color: #E51937;
  margin-right: 0.7%;
}
.content__button{
  font: 700 16px/20px 'Montserrat', arial, helvetica, sans-serif;
  padding: 15px 61px;
  margin: 0;
  margin-left: 8.5%;
  display: inline-block;
}
.button-1{
color: #fff;
background: #E51937;
border: #E51937;
padding: 18px 65px;
}
.main__img1{
bottom: 51.33%;
margin-left: 47.8%;
}
.row1{
flex-direction: column;
}
.group1{
  background: url('img/tesla768.svg');
  background-repeat: no-repeat;
  display: flex;
  height: 502px;
  width: 100%;
  margin: 0;
}
.page1__h1{
margin-left: 56.5%;
padding-top: 1.5%;
}
.page__redbg{
background: url('img/redbg768.svg');
width: 100%;
height: 487px;
}
.body1{
position: relative;
}
.page__box{
display: inline-block;
width: 87%;
}
.box1{
margin-left: 2.5%;
bottom: 429px;
}
.ride1{
display: flex;
margin-bottom: 54px;
}
.content1{
  margin-left: 1.5%;
  width: 162%;
}
.page__title{
  font: 600 30px/37px 'Montserrat', arial, helvetica, sans-serif;
  color: #fff;
}
.page1__title{
width: 75%;
}
.page__subtitle{
  font: 500 15px/18px 'Montserrat', arial, helvetica, sans-serif;
  color: #fff;
}
.page1__subtitle{
  width: 71%;
  line-height: 19px;
  margin-top: 20px;
}
.colums__row{
  position: relative;
  bottom: 56px;
}
.img1-1{
padding-top: 5px;
}
.item__title{
  font: 600 35px/43px 'Montserrat', arial, helvetica, sans-serif;
  color: #fff;
}
.item__span{
  font: 600 20px/24px 'Montserrat', arial, helvetica, sans-serif;
  color: #fff;
}
.item__text{
  font: 400 12px/15px 'Montserrat', arial, helvetica, sans-serif;
  color: #fff;
}
.img1-2{
bottom: 14px;
}
.title1-2{
  font: 600 20px/18px 'Montserrat', arial, helvetica, sans-serif;
  color: #fff;
  margin-left: 17px;
  bottom: 10px;
}
.text1-2{
    bottom: 6px;
}
.img1-3{
bottom: 12px;
}
.title1-3{
bottom: 17px;
}
.text1-3{
bottom: 42px;
}
.content-2{
  width: 77%;
  position: relative;
  top: 2%;
}
.button-2{
  padding: 15px 62px;
}
.more-2{
  margin-top: 4%;
}
.row3{
  display: flex;
  flex-direction: column-reverse;
}
.redbg2{
  position: relative;
  top: 72%;
}
.box2{
  position: relative;
  width: 767px;
  height: 480px;
  top: 22%;
}
.ride2{
  display: flex;
  width: 95%;
  height: 272px;
  margin-left: 4.5%;
  position: relative;
  top: 13%;
  margin-bottom: 1%
}
.content2{
    width: 105%;
}
.page2__title{
    margin-bottom: 7%;
    width: 167%;
}
.page2__subtitle{
width: 160%;
}
.raiting{
  margin: 0;
  margin-left: 26%;
  width: 529%;
}
.raiting__box{
  top: 2px;
  position: relative;
}
.raiting__span{
  margin-left: 23%;
}
.raiting__star{
  margin-left: 52%;
  width: 50%;
}
.column2-1{
  display: none;
}
.content__img{
  width: 31px;
  margin-left: 2px;
}
.more-3{
margin-right: 2%;
}
.page2__img1{
  position: relative;
  top: 142.2%;
  width: 113%;
  margin-left: 18.3%;
}
.page2__img2{
  position: relative;
  width:143%;
  top: 122%;
  padding-left: 9%;
}
.page2__img4{
  display: none;
}
}
@media (max-width: 767px){
.content-2, .content-3{
  display: none;
}
.main__title{
font: 600 50px/61px 'Montserrat', arial, helvetica, sans-serif;
margin-left:22.6%;
margin-bottom: 5px;
}
.header{
padding-top: 3px;
margin-bottom: 6%;
}
.logo{
background-size: 138px 43px;
}
.menu__btn{
right: 21px;
width: 24px;
height: 13px;
top: 20px;
}
.main__subtitle{
font: 500 10px/12px 'Montserrat', arial, helvetica, sans-serif;
margin-left: 29%;
line-height: 0;
margin-bottom: 41px;
}
.main__img{
width: 103%;
right: 14px;
bottom: 27px;
}
.container{
  height: 0px;
}
.main__img-2{
margin-top: 18px;
width: 92%;
margin-left: 4%;
height: 170px;
margin-bottom: 27px;
}
.main__items{
width: 80%;
margin-left: 8%;
bottom: 68%;
}
.main__item{
width: 45%;
}
.ride1{
  margin: 0;
  display: flex;
}
.img-1{
width: 33%;
margin-top: 10px;
margin-left: 2%;
}
.box-1{
margin-top: 63%;
margin-left: 44px;
}
.box-2{
  position: relative;
  bottom: 99px;
  margin-left: 35%;
}
.main__item-title{
font: 600 27px/33px 'Montserrat', arial, helvetica, sans-serif;
}
.main__item-span{
font: 600 15px/18px 'Montserrat', arial, helvetica, sans-serif;
}
.span-1, .span-2{
margin-left: 65%;
bottom: 31px;
}
.main__item-text{
font: 400 10px/12px 'Montserrat', arial, helvetica, sans-serif;
}
.text-1, .text-2{
position: relative;
bottom: 59px;
}
.img-2{
display: none;
}
.main__item-background{
margin: 0;
background-size: 45px 45px;
margin-left: 4%;
}
.box2{
top: 58%;
width: 100%;
}
.content-1{
width: 95%;
margin-left: 3%;
bottom: 65.6%;
}
.wheelblack{
background: url('img/wheelred.svg');
background-repeat: no-repeat;
margin-top: 3.7%;
margin-right: 0;
margin-left: 7%;
background-size: 24px;
}
.more-1{
font: 700 13px/16px 'Montserrat', arial, helvetica, sans-serif;
margin: 0;
margin-top: 2%;
color: #E51937;
}
.button-1{
font: 700 13px/16px 'Montserrat', arial, helvetica, sans-serif;
padding: 12px 43px;
right: 2.3%;
margin-top: 1.3%;
position: relative;
}
.main__img1{
bottom: 62.5%;
margin-left: 46%;
}
.group1{
background: url('img/models375.svg');
width: 100%;
height: 323px;
position: absolute;
top: 100%;
}
.page1__h1{
  display: none;
}
.body1{
  position: relative;
  bottom: 88px;
  height: 300px;
}
.page__redbg{
height: 305px;
}
.content1{
  margin-left: 4%;
  margin-top: 44%;
}
.page__title{
width: 101%;
}
.page__subtitle{
  margin: 0;
  width: 100%;
  margin-top: 3%
}
.columns{
  display: none;
}
.content-2{
  display: none;
}
.more-2{
  color: #fff;
}
.row3{
position: relative;
height: 0;
}
.row1{
height: 0px;
}
.body2{
position: relative;
bottom: 387px;
}
.ride2{
margin: 0;
top: 19%;
}
.content2{
position: relative;
width: 92%;
margin-left: 9%;
top: 38%;
}
.page2__title{
margin-bottom: 4%;
}
.page2__subtitle{
line-height: 123%;
}
.raiting{
  display: none;
}
.redbg2{
top: 214%;
}
.box2{
top: 153%
}
.content-3{
  display: none;
}
.page2__img1{
top: 469%;
width: 146%;
margin: 0;
}
.page2__img2{
top: 445%;
}
}
